body {
    background-color: rgb(226, 226, 226);
}

#voted {
    height: 100px;
    width: 80px;
    margin-top: -70px;
    float: right;
}

#vote {
    height: 100px;
    width: 80px;
    margin-top: -90px;
    float: right;
}


.card {
    width: 1000px;
    height: 140px;
    background-color: rgb(226, 226, 226);
}

input {
    position: relative;
    right: -800px;
    top: -40px;
    background-color: rgb(226, 226, 226);
}