doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
    link(rel='stylesheet' href='public/styles/home.css', type='text/css')
body
    include nav.pug
    br
    .container
        h1 Wellcome to our music application
        p <strong>* A top 15 it`s created using users votes.</strong>
        p * You can vote your favorite songs.
        p * All you have to do is :   
        pre     Step 1: Create a simple account using 'Singup'.
        pre     Step 2: Login !
        pre     Step 3: After login go to 'All songs' and you can see the whole list of songs.(You can use search functionality to find your song)
        pre     Step 4: Press 'VOTE' button for voting your favorite song.
        h3 Here is our TOP 15 SONGS
        table.table.table-striped.table-info 
            thead 
                tr 
                    th(scope='col') Position
                    th(scope='col') Artist Name
                    th(scope='col') Song Title
                    th(scope='col') YouTube Link
                    th(scope='col') Votes No.
            tbody
                each track, index in top
                    tr 
                        th(scope='row')= index + 1
                        td= track.artist 
                        td= track.title 
                        td
                            a(href= track.link) YouTube HERE
                        td= track.track_votes
    script
        include ../../client_scripts/home.js